section.homepage-banner
  .container
    .homepage-banner__content
      .homepage-banner__title.section-h1 Доставка товаров
      .homepage-banner__caption любой стоимости из Польши в Беларусь
      .homepage-banner__btn
        a(href="#").btn.btn-primary Заказать доставку
    .homepage-banner__image
      picture
        source(srcset="img/common/delivery.webp" type="image/webp")
        img(src="img/common/delivery.png" width=312 height=202)